/* Global */

body{
    margin: 0 15%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    background-color: black;
    color: white;
}

.verticlediv{
    display: flex;
    flex-direction: column;
}

.leftrightDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 5vw;
}

h3{
    justify-self: center;
    align-self: center;
}

li{
    /* text-decoration: none; */
    list-style: none;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: white;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
    height: 6vh;
    background-color: #161414;
    color: white;
    border-radius: 7%;
    cursor: pointer;
}
.sec3, .sec4, .sec6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

/* nav bar  */
nav>img{
    position: absolute;
    top: 6%;
}

.rightnav{
    position: absolute;
    top: 5%;
    right: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5vw;
}
button{
    background-color: #444040;
    color: white;
    padding: 5px 20px;
    border-radius: 10%;
}

/* section 1 */
.sec1right{
    width: 20vw;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 22vh;
    left: 40vw;
}
.sec1right>h1{
    font-size: 42px;
}
.sec1right>h4{
    font-size: 20px;
}
#onEar{
    margin-left: 4vw;
}
.sec1right>p{
    color: #808080;
}

/* section 2 - Social */
.soci{
    margin-top: 27%;
}

/* section 3 */
.spec{
    width: 15vw;
}
.itemspecification{
    margin-left: 4vw;
}

/* section 4 */
.case{
    width: 15vw;
    justify-content: center;
    align-items: center;
}

/* section 5 */
.sec5card{
    width: 100%;
    height: 55vh;
    margin: 15% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #161414;
    color: white;
    border-radius: 2%;
}
.buy{
    width: 20vw;
}
.blackb{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 10vw;
    height: 5vh;
    background-color: black;
    border-radius: 5%;
    cursor: pointer;
}

/* section 6 */
.cards{
    height: 18vw;
    width: 14vw;
    background-image: linear-gradient(black 0%, black 30%, #161414 30%, #161414 100%) ;
    margin: 6% 0;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}
.bt{
    width: 1.1vw;
    background-color: black;
}
.btx{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item{
    width: 34vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/* footer */
footer{
    max-width: 70vw;
    margin-top: 10%;
}
.flogo{
    margin-top: 1.1vw;
}
input{
    background-color: transparent;
    /* order: 2; */
}
.subscribe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: #161414;
    border-radius: 5%;
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    gap: 4%;
    order: 3;
}
.id{
    margin-top: 5%;
}

/* img size */

.onEarImage{
    width: 25vw;
}
.logo{
    width: 3%;
}
.main{
    width: 21%;
    position: absolute;
    top: -20%;
    margin-left: 6%;
}
.socials{
    width: 7vw;
}
.seclogo{
    margin-top: 2%;
    width: 15vw;
    margin-bottom: 8%;
}
.bblm{
    width: 1vw;
}
.sec3rightimg, .sec4leftimg{
    width: 22vw;
    margin-top: 5%;
}
.sec5rightimg{
    width: 30vw;
}
.carditem{
    width: 10vw;
}
.btnimg{
    width: 1vw;
}
.rightarrow{
    width: 1.5vw;
}