*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #221060ef;
    width: 95%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hambrger{
    width: 4%;
    display: none;
}
footer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    column-gap: 15px;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px 5px;
}
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.line1{
    display: flex;
    flex-direction: row;
}
.line2-3>h2{
    color: rgb(202, 180, 55);
}
.hand{
    width: 1.5vw;
}
.ps{
    width: 17vw;

}
.i{
    width: 15vw;
    cursor: pointer;
}
.c{
    width: 2.5vw;
    margin: 5px 9px;
    cursor: pointer;
}
.h{
    text-decoration: underline blue;
    text-align: center;
    margin: 10px 2px;
}
p{
    text-align: center;
}

@media screen and (max-width:576px){
    body{
        text-align: center;
    }
    .hand{
        width: 5vw;
    }
    .hambrger{
        display: block;
        position: fixed;
        top: 10px;
        left: 5px;
        cursor: pointer;
    }
    footer{
        display: none;
    }
    .top{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .images{
        display: flex;
        flex-direction: column;
    }
    .line1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}