*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    height: 30vh;
    width: 25vw;
    border: 3px solid black;
    row-gap: 15%;
}

.verticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display{
    width: 10vw;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
}

button{
    padding: 0.5vh 0.5vw;
    margin: 0 3%;
    cursor: pointer;
}